body{
	font-family:Arial,helvetica,sans-cherif;
	font-size: 15px;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}
.container{
	width:80%;
	margin:auto;
	overflow: hidden;
}
header{
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}
header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header ul{
	margin: 0;
	padding:0;
}
header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}
#soltane{
	float: left;
}
#soltane h1{
	margin:0;
}
nav{
	float: right;
	margin-top: 10px;
}
header .highlight{
	color:#e8491d;
	font-weight:bold;
}
 .current a{
color:#e8491d;
	font-weight:bold;	
}
header a:hover{
	color:#cccccc;
	font-size: bold;
}
#showcase{
min-height:400px;
background:url(images/dd.jpg) no-repeat 0 -600px;
padding-right: 0;
}
#showcase h1{
	margin-top:100px;
	font-size: 45px;
	margin-bottom: 10px;
	color:#ffffff;
}
#showcase p{
	fontsize:15px;
	color:#ffffff;
	text-align: center;
	}
#newsletter{
		padding:15px;
		color:#ffffff;
		background:#35424a;
	}
#newsletter form{
	float:right;
	margin-top:15px;
    }
#newsletter  h1{
	float: left;
}
#newsletter input[type="email"]{
	padding:4px;
	height:45;
	widows: 250px;
}
.button_1{
	height:28px;
	background:#e8491d;
	border:0;
	padding-left: 10px;
	padding-right: 10px;
	color:#ffffff;
}
#boxes{
	margin-top:20px; 
}
.box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}
#boxes .box img{
	width: 90px;
}
#sidebar{
	float: right;
	width:30%;
	margin-top:10px;
}
#main-col{
	float: left;
	width:65%;
}
.dark{
	padding:15px;
	background:#35424a;
	color:#ffffff;
	margin-top: 10px;
	margin-bottom:10px;
}
#quote{
	float:right;
	width:30%;
	margin-top:10px;
	padding-right:10px;
}
#main-a{
	float:left;
	width:65%;
}
.service{
	background:grey;
	padding:10px;
	margin:10px;


}
footer{
	background-color:#e8491d;
	font-size: 20px;
	text-align: center;
	color:#ffffff;
	padding:10px
}
@media(max-width:768px){
	header #soltane,
	header #soltane h1,
	header nav,
    header nav li,
    #mewsletter h1,
    #newsletter form,
    #boxes .box,
    #main-a,
    #quote
{
    float:none;
    text-align:center;
    width:100%;
}
header{
	padding-top:20px;
	text-align: center;
}
#showcase h1{
	margin-top:40px;
}
#newsletter button{
	display:block;
	width:100%;
}
#newsletter form input[type="email"]{
	width:100%;
	margin-bottom: 5px;
}}
#quote button{
	display:block;
	width:80%;
	margin-top: 5px;
}










